
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family:Jazz LET, fantasy;
    background-image:url('images/фон.jpeg'); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
  
  .container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(232, 231, 181, 0.9);
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #f1afd0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  
  #fact {
    margin: 20px 0;
    font-size: 1.2em;
    font-weight: bold;
  }
  